{% extends "base.html.twig" %}

{% block body %}
	<div class="container">


		<h1 class="mt-4">
			Modification d'un ingredient</h1>

		{{ form_start(form) }}
		<div class="form-error">
			{{ form_errors(form) }}
		</div>

		<div class="form-group">
			{{ form_label(form.nom)}}
			{{ form_widget(form.nom)}}
			<div class="form-error">
				{{ form_errors(form.nom)}}
			</div>

		</div>
		<div class="form-group">
			{{ form_label(form.prix)}}
			{{ form_widget(form.prix)}}
			<div class="form-error">
				{{ form_errors(form.prix)}}
			</div>

		</div>
		<div class="form-group">
			{{ form_row(form.submit) }}
		</div>
		{{ form_end(form) }}

	</div>
{% endblock %}
