{% extends 'base.html.twig' %}

{% block title %}Synapse - Ingredient!
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{% if not ingredients.items is same as ([]) %}
			<h1>Mes Ingredients</h1>

			<a href="{{ path('ingredient.new')}}" class="btn btn-primary">
				Cree Ingredient
			</a>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>

			{% endfor %}

			<div class="count">
				<h4>
					Nombre Total c'est
					{{ ingredients.getTotalItemCount }}
					ingredients</h4>
			</div>

			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Numero</th>
						<th scope="col">Nom</th>
						<th scope="col">Prix</th>
						<th scope="col">Date de creation</th>
						<th scope="col">Edit</th>
						<th scope="col">Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{% for ingredient in ingredients %}

						<tr class="table-primary">
							<th scope="row">{{ ingredient.id }}</th>
							<td>{{ ingredient.nom }}</td>
							<td>{{ ingredient.prix }}</td>
							<td>{{ ingredient.dateCreation|date('d/m/y') }}</td>
							<td>
								<a href="{{ path('ingredient.edit', {id: ingredient.id}) }}" class="btn btn-info">
									Modifier
								</a>
							</td>
							<td>
								<a href="{{ path('ingredient.delete', {id: ingredient.id}) }}" class="btn btn-warning">
									Supprimer
								</a>
							</td>
						</tr>
					{% endfor %}


				</tbody>
			</table>

			{# display navigation #}
			<div class="navigation d-flex justify-content-center">
				{{ knp_pagination_render(ingredients) }}
			</div>
		{% else %}
			<h4>
				il n' y a pas d'ingredient</h4>
		{% endif %}


	</div>
{% endblock %}
