{% extends 'base.html.twig' %}

{% block title %}Synapse - Recette!
{% endblock %}

{% block body %}
	<div class="container mt-4">
		{% if not recipes.items is same as ([]) %}
			<h1>Mes Recettes</h1>

			<a href="{{ path('recipe.new')}}" class="btn btn-primary">
				Cree Recette
			</a>

			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					{{ message }}
				</div>

			{% endfor %}

			<div class="count">
				<h4>
					Nombre Total c'est
					{{ recipes.getTotalItemCount }}
					Recette</h4>
			</div>

			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Numero</th>
						<th scope="col">Nom</th>
						<th scope="col">Prix</th>
						<th scope="col">Diffultes</th>
						<th scope="col">Date de creation</th>
						<th scope="col">Edit</th>
						<th scope="col">Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{% for recipe in recipes %}

						<tr class="table-primary">
							<th scope="row">{{ recipe.id }}</th>
							<td>{{ recipe.nom }}</td>
							<td>{{ (recipe.price is null) ? 'Non renseigner' : recipe.price }}</td>
							<td>{{ (recipe.difficulty is null) ? 'Non renseigner' : recipe.difficulty }}</td>
							<td>{{ recipe.createdAt|date('d/m/y') }}</td>
							<td>
								<a href="{{ path('recipe.edit', {id: recipe.id}) }}" class="btn btn-info">
									Modifier
								</a>
							</td>
							<td>
								<a href="{{ path('recette.delete', {id: recipe.id}) }}" class="btn btn-warning">
									Supprimer
								</a>
							</td>
						</tr>
					{% endfor %}


				</tbody>
			</table>

			{# display navigation #}
			<div class="navigation d-flex justify-content-center">
				{{ knp_pagination_render(recipes) }}
			</div>
		{% else %}
			<h4>
				il n' y a pas de recette</h4>
		{% endif %}


	</div>
{% endblock %}
