{% extends 'base.html.twig' %}

{% block title %}
	Synapse - Modification de l'utilisateur !
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="class mt-4">
			Formulaire de Modification User
		</h1>

		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>

		{% endfor %}

		{{ form_start(form) }}

		<div class="form-error">
			{{ form_errors(form) }}
		</div>

		<div class="form-group">
			{{ form_label(form.fullName)}}
			{{ form_widget(form.fullName)}}
			<div class="form-error">
				{{ form_errors(form.fullName)}}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(form.pseudo)}}
			{{ form_widget(form.pseudo)}}
			<div class="form-error">
				{{ form_errors(form.pseudo)}}
			</div>
		</div>

		{{ form_end(form) }}

	</div>
{% endblock %}
