{% extends 'base.html.twig' %}

{% block title %}
	Synapse - Modification de l'utilisateur Mot de Passe !
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="class mt-4">
			Formulaire de Modification  User Password
		</h1>

		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>

		{% endfor %}

		{{ form(form) }}

		</div>
	{% endblock %}
