{% extends 'base.html.twig' %}

{% block title %}Synapse - Connexion!
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mt-4">Formulaire de Connexion</h1>

		{% if error %}
			<div class="alert alert-danger mt-4">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		<form action=" {{ path('security.login') }}" method="post">
			<div class="form-group">
				<label for="username" class="form-label mt-4">Adresse Email</label>
				<input type="email" class="form-control" value=" {{ last_username }}" id="username" name="_username" placeholder="exemple@synapse.com">
				<small id="emailHelp" class="form-text text-muted">Nous ne communiquerons jamais votre adresse électronique à qui que ce soit.</small>
			</div>
			<div class="form-group">
				<label for="password" class="form-label mt-4">Mot de passe</label>
				<input type="password" name="_password" class="form-control" id="password" placeholder="******">
			</div>

			<button type="submit" class="btn btn-primary mt-4">Se Connecter</button>

		</form>
	</div>
{% endblock %}
