{% extends "base.html.twig" %}

{% block title %}
	Synapse - Inscription
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">
			Formulaire d'Inscription
		</h1>


		{{ form(form) }}


		</div>
	{% endblock %}
